# module 3 : python - data structure assignment

# theoretical questions

1.	What are data structures, and why are they important?
-> Data structures are a specific way of organizing data in a specialized format on a computer so that the information can be organized, processed, stored, and retrieved quickly and effectively. They are a means of handling information, rendering the data for easy use.

2.	Explain the difference between mutable and immutable data types with examples?
-> Mutable data types are those whose values can be changed, whereas immutable data types are ones in which the values can't be changed.
Mutable data types example : list, dictionaries and set
Immutable data types example : strings, tuples

3.	What are the main differences between lists and tuples in Python?
-> The main difference between tuples and lists is that tuples are immutable, meaning their contents cannot be changed after creation, while lists are mutable and can be modified. Tuples are most efficient than lists.

4.	 Describe how dictionaries store data.
-> Dictionaries are used to store data values in key:value pairs. A dictionary is a collection which is ordered*, changeable and do not allow duplicates. As of Python version 3.7, dictionaries are ordered. In Python 3.6 and earlier, dictionaries are unordered.

5.	Why might you use a set instead of a list in Python?
-> The key difference between a list and a set is that list can store duplicate values, whereas a set can't.

6.	What is a string in Python, and how is it different from a list?
-> A string is a sequence of characters. A list a sequence of values which can be characters, integers or even another list (referred to as a nested list).

7.	How do tuples ensure data integrity in Python?
-> Tuples are immutable to ensure that their contents remain constant throughout their lifecycle, guaranteeing data integrity and reliability. This immutability allows tuples to be used as keys in dictionaries and elements in sets, as they can be hashed.

8.	What is a hash table, and how does it relate to dictionaries in Python?
-> In general, hash tables store key-value pairs and the key is generated using a hash function. Hash tables or has maps in Python are implemented through the built-in dictionary data type. The keys of a dictionary in Python are generated by a hashing function.

9.	Can lists contain different data types in Python?
-> a list can also contain a mix of Python types including strings, floats, and booleans.

10.	Explain why strings are immutable in Python?
-> Python strings are "immutable" which means they cannot be changed after they are created.

11.	What advantages do dictionaries offer over lists for certain tasks?
-> Thus, the pros of dictionaries are:
*   They make code much easier to read if we need to generate key:value pairs. We can also do the same with a list of lists (where inner lists are pairs of "keys" and "values"), but this looks more complex and confusing.
*   We can look up a certain value in a dictionary very quickly.

12.	Describe a scenario where using a tuple would be preferable over a list?
-> If a data is needed in a program which is not supposed to be changed, then it is better to put it in 'tuples' than in 'list'.

13.	How do sets handle duplicate values in Python?
-> In Python, sets do not allow duplicate values. If you try to add a duplicate element to a set, it will be ignored because sets automatically remove duplicates.

14.	How does the “in” keyword work differently for lists and dictionaries?
-> The in keyword is used to check for membership in both lists and dictionaries, but it works differently for each:
*   **in with Lists**
*   Checks if a value exists in the list.
*   It searches sequentially, meaning it has O(n) time complexity in the worst case.
*   **in with Dictionaries**
* Checks if a key exists in the dictionary (not values).
* It is much faster (O(1) on average) because dictionaries use hashing.

15.	Can you modify the elements of a tuple? Explain why or why not.
-> No, you cannot modify the elements of a tuple.
Tuples are immutable data structures in Python, which means that once a tuple is created, its contents cannot be modified. This is because tuples are stored in a single block of memory, and changing the contents of a tuple would require moving the entire tuple to a new location in memory.
* If you try to modify a tuple, you'll get a TypeError.

16.	What is a nested dictionary, and give an example of its use case?
-> A nested dictionary is a dictionary that contains another dictionary as its value, allowing for a hierarchical organization of data.
* Example:

```
student_data = {
'John': {'age': 20, 'grade': 'A'},
'Alice': {'age': 22, 'grade': 'B'}
}
```

17.	Describe the time complexity of accessing elements in a dictionary?
-> The time complexity of accessing elements in a dictionary is O(1), also known as constant time complexity. This means that, on average, it takes the same amount of time to access an element in a dictionary, regardless of the size of the dictionary.

18.	In what situations are lists preferred over dictionaries.
-> Lists are preferred over dictionaries in the following situations:
* When data needs to be stored in a specific order.
* When data is numerical or sequential.
* When frequent insertions or deletions are required.
* When indexing is necessary (e.g., accessing elements by position).
* In general, lists are preferred when the data is homogeneous and doesn't require key-value pairs.

19.	Why are dictionaries considered unordered, and how does that affect data retrieval?
-> Dictionaries are considered unordered because the key-value pairs are stored in a hash table, which doesn't maintain a specific order. This means that:
* The order of items may change when iterating over the dictionary.
* You can't rely on a specific order when retrieving data.
- To retrieve data, you must use the key to access the corresponding value, rather than relying on the order of the items.

20.	Explain the difference between a list and a dictionary in terms of data retrieval.
-> Here's the difference:
* **List**
* Data retrieval is done using indexing (position of the element).
* Elements are accessed using their index (e.g., my_list[0]).
* Retrieval is order-based.
* **Dictionary**
* Data retrieval is done using keys.
* Elements are accessed using their key (e.g., my_dict['name']).
* Retrieval is key-based, not order-based.

# coding questions

In [ ]:
# 1. Write a code to create a string with your name and print it.

name = "Mohit Kumar"
print(name)

Mohit Kumar

In [ ]:
# 2. Write a code to find the length of the string "Hello World".

a = "Hello World"
len(a)

11

In [ ]:
# 3. Write a code to slice the first 3 characters from the string "Python Programming".

# Slicing the first 3 characters from the string "Python Programming"
sliced_str = "Python Programming"[:3]
print("First 3 characters:", sliced_str)

First 3 characters: Pyt

In [ ]:
# 4. Write a code to convert the string "hello" to uppercase.

a = "hello"
a.upper()

'HELLO'

In [ ]:
# 5. Write a code to replace the word "apple" with "orange" in the string "I like apple".

replaced_str = "I like apple".replace("apple", "orange")
print("After replacement:", replaced_str)

After replacement: I like orange

In [ ]:
# 6. Write a code to create a list with numbers 1 to 5 and print it.

num_list = [1, 2, 3, 4, 5]
print("The list is:", num_list)

The list is: [1, 2, 3, 4, 5]

In [ ]:
# 7. Write a code to append the number 10 to the list [1, 2, 3, 4].

num = [1, 2, 3, 4]
num.append(10)
print("List after appending 10:", num)

List after appending 10: [1, 2, 3, 4, 10]

In [ ]:
# 8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].

num = [1, 2, 3, 4, 5]
num.remove(3)
print("List after removing 3:", num)

List after removing 3: [1, 2, 4, 5]

In [ ]:
# 9. Write a code to access the second element in the list ['a', 'b', 'c', 'd'].

char_list = ['a', 'b', 'c', 'd']
print("The second element is ", char_list[1])

The second element is  b

In [ ]:
# 10. Write a code to reverse the list [10, 20, 30, 40, 50].

num_list_reverse = [10, 20, 30, 40, 50][::-1]
print("Reversed list is :", num_list_reverse)

Reversed list is : [50, 40, 30, 20, 10]

In [ ]:
# 11. Write a code to create a tuple with the elements 100, 200, 300 and print it.

a = (100, 200, 300)
print(a)

(100, 200, 300)

In [ ]:
# 12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow'). 13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).

a = ('red', 'green', 'blue', 'yellow')
a[-2]

'blue'

In [ ]:
# 13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).

numbers = (10, 20, 5, 15)
min(numbers)

5

In [ ]:
# 14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

animals = ('dog', 'cat', 'rabbit')
index_of_cat = animals.index('cat')
print(index_of_cat)

1

In [ ]:
# 15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

fruits = ('apple', 'banana', 'orange')
is_kiwi_in_fruits = 'kiwi' in fruits
print(is_kiwi_in_fruits)

False

In [ ]:
# 16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.

char_set = {'a', 'b', 'c'}
print(char_set)

{'a', 'c', 'b'}

In [ ]:
# 17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

number_set = {1, 2, 3, 4, 5}
number_set.clear()
print(number_set)

set()

In [ ]:
# 18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.

number_set = {1, 2, 3, 4}
number_set.remove(4)
print(number_set)

{1, 2, 3}

In [ ]:
# 19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

set1 = {1, 2, 3}
set2 = {3, 4, 5}
union_set = set1.union(set2)
print(union_set)

{1, 2, 3, 4, 5}

In [ ]:
# 20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

intersection_set = set1 & set2
print(intersection_set)

{3}

In [ ]:
# 21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

person_dictionary = {'name': 'John', 'age': 25, 'city': 'New York'}
print(person_dictionary)

{'name': 'John', 'age': 25, 'city': 'New York'}

In [ ]:
# 22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

person_dictionary['country'] = 'USA'
print(person_dictionary)

{'name': 'John', 'age': 25, 'city': 'New York', 'country': 'USA'}

In [ ]:
# 23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}. 24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

person_dictionary = {'name': 'Alice', 'age': 30}
name_value = person_dictionary['name']
print(name_value)

Alice

In [ ]:
# 24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

person_dictionary = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del person_dictionary['age']
print(person_dictionary)

{'name': 'Bob', 'city': 'New York'}

In [ ]:
# 25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

person_dictionary = {'name': 'Alice', 'city': 'Paris'}
city_exists = 'city' in person_dictionary
print(city_exists)

True

In [ ]:
# 26. Write a code to create a list, a tuple, and a dictionary, and print them all.

my_list = [1, 2, 3, 4]
my_tuple = (10, 20, 30)
my_dict = {'key': 'value'}
print(my_list, my_tuple, my_dict)

[1, 2, 3, 4] (10, 20, 30) {'key': 'value'}

In [ ]:
# 27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced)

import random
random_numbers = [random.randint(1, 100) for _ in range(5)]
random_numbers.sort()
print(random_numbers)

[1, 17, 46, 56, 69]

In [ ]:
# 28. Write a code to create a list with strings and print the element at the third index.

string_list = ['apple', 'banana', 'cherry', 'date', 'elderberry']
print(string_list[3])

date

In [ ]:
# 29. Write a code to combine two dictionaries into one and print the result.

dict1 = {'name': 'Alice'}
dict2 = {'age': 30}
combined_dict = {**dict1, **dict2}
print(combined_dict)

{'name': 'Alice', 'age': 30}

In [41]:
# 30. Write a code to convert a list of strings into a set.

string_list = ['apple', 'banana', 'cherry', 'apple']
string_set = set(string_list)
print(string_set)

{'apple', 'banana', 'cherry'}